blinker
cachelib
certifi
click
Flask
Flask-Caching
Flask-DebugToolbar
Flask-Minify
greenlet
htmlmin
itsdangerous
Jinja2
jsmin
lesscpy
Mako
MarkupSafe
matplotlib
numpy
pandas
ply
psycopg2-binary
python-dotenv
rcssmin
sentry-sdk
simple-term-menu
six
SQLAlchemy
typing_extensions
urllib3
uWSGI
Werkzeug
xxhash
zipp