<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='course.css') }}">
  <title>Available Courses</title>
</head>
<body>

<div id="courses-container">

  {% for row in data %}
  <div class="course-card" id="{{ row[0] }}">
    <div class="course-info">
      <h3><a href="{{ url_for('lessonList', CourseId=row[0]) }}">{{ row[1] }}</a></h3>
      <p>{{ row[2] }}</p>
    </div>
  </div>
  {% endfor %}

</div>

</body>
</html>
