<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
</head>
<body>
    <div id="quiz-container">
        <form action="{{ url_for('quiz') }}" method="post">
            <div class="question">
                {{ question }}
            </div>
            <div class="options">
                {% for option in options %}
                    <div class="option">
                        <input type="radio" name="user_answer" value="{{ option }}" required>
                        {{ option }}
                    </div>
                {% endfor %}
            </div>
            <input type="hidden" name="current_question" value="{{ current_question }}">
            <input type="hidden" name="correct_answer" value="{{ correct_answer }}">
            <input type="hidden" name="score" value="{{ score }}">
            <input type="hidden" name="options" value="{{ options }}">
            <button type="submit">Submit Answer</button>
        </form>
    </div>

</body>
</html>
