body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#lesson-container {
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(45deg, #3498db, #251ccc);
    color: #fff;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#quiz-button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #05061b;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#quiz-button:hover {
    background-color: #219653;
}

#material-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-link {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.material-link:hover {
    background-color: #2980b9;
}

video {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
}